


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  
}



main {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(
      450.56deg,
      rgba(8, 141, 230, 0.43) -32.94%,
      rgba(216, 245, 204, 0) 99.61%
    );
  }

  .box {
    margin: 9rem auto;
    max-width: 600px;
    width: 100%;
    height: 500px;
    background-image: url('https://image.slidesdocs.com/responsive-images/background/orange-business-wave-gradient-abstract-creative-powerpoint-background_5156022840__960_540.jpg');
    border-radius: 3.3rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  .inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .forms-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
  }

  form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
  }

/* form.sign-up-form {
  opacity: 0;
  pointer-events: none;
} */


.heading h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ed8a1f;
}



.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #68a5f5;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 1.5rem;
  color: #000000;
  transition: 0.4s;

}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: #83aeff;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 1.3s;
}

.text a:hover {
  color: #83aeff;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 0%;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }
    
  .box {
    width: 90%; /* Adjust width for better mobile layout */
    margin: 0 auto; /* Center the box horizontally */
  }
  
    .inner-box {
      padding: 2rem;
      margin-top: 5rem;

    }
  
    .forms-wrap {
      position: revert;
      width: 100%;
      height: auto;
      
    }
  
    form {
      max-width: revert;
      padding: 1.5rem 2.5rem 2rem;
      transition: transform 0.8s ease-in-out, opacity 0.45s linear;
     
    }
}

@media (max-width: 530px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    padding: 1rem;
  }

  .box {
   
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
